<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login"> <!-- Hoặc package name của bạn -->

    <!-- Quyền truy cập Internet để tải dữ liệu, giao tiếp với máy chủ -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Quyền truy cập vị trí để xác định điểm đón của người dùng -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Car booking"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <!--
         MainActivity là Activity duy nhất và là điểm vào của ứng dụng.
         Nó chứa NavHostFragment để quản lý tất cả các màn hình Fragment.
        -->
        <activity
            android:name=".LOGIN.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VIEW.BookingActivity"
            android:exported="false" />
        <activity android:name=".VIEW.ProfileHostActivity"
            android:exported="false" />

        <activity android:name=".VIEW.MainActivity"
            android:exported="false" />




    </application>

</manifest>
    